html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans Arabic", sans-serif;
font-weight:400;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #E6E1DE !important;
}

header {
    flex-direction: row;
}

#humburger {
    margin-left: 20px;
}

/*animation move in left to right the logo and header start*/
.humburgermenu,
.logo-brand,
.jobs,
.subject {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
}

.subject {
    animation-delay: 0.5s;
}

/*the main action*/
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*animation move in left to right the logo and header end*/
/* border website*/
.border-site {
    width: calc(100% - 40px);
    height: auto;
    border: 4px solid #121212;
    margin: 30px 20px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-logo-and-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo*/
#brand {
    width: 80px;
    height: auto;
}

/* icon opportunity */
.jobs {
    width: 120px;
    height: 30px;
    border: 4px solid #121212;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* text about us start */
.subject {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.gradient-text {
    font-size: 40pt;
    text-align: center;
    background: linear-gradient(60deg, #B6B0A6, #121212);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
}

/* text about us end*/
/*group picture start*/

.group-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

#group-people {
    max-width: 100%;
    height: auto;
}

.group-pic {
    position: relative;
    overflow: hidden;
}


#group-people {
    position: relative;
    animation: moveUp 1s ease-in-out forwards;
}

/* the main action for group pic*/
@keyframes moveUp {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

/*details about company start*/
.all-details-about-company {
    width: 100%;
    padding: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 3s forwards;
    animation-delay: 0.5s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*details about company end*/

/*group picture end*/

/* talk about brand start */
.head {
    text-align: center;
    padding: 10px 0;
    margin-top: -120px;
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
    
}

/*start main paragraph about company */
.details-paragraph {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
}

#p {
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
        height: 100px;
    font-size: 16pt;
    width: 400px;
}

/*end main paragraph about company */

/* talk about brand end */

/*people start*/
#boy-one {
    width: 225px;
    border-radius: 20px;
    height: 450px;
}

#girl-two {
    width: 225px;
    border-radius: 20px;
    height: 450px;
}

.picture-person-one {
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-person-two {
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#person-one {
    width: 100%;
    height: 350px;
    background-color: #B6B0A6;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 200px; font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
}

.number-person {
    color: black; font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
    text-align: center;
}

.introd-person-one {
    width: 50%;
    flex-direction: column;
    display: flex;
    gap: 30px; font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
}


#person-two {
    width: 100%;
    height: 350px;
    background-color: #E6E1DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 200px;
}

.number-person {
    color: black;
    text-align: center; font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
}

.introd-person-two {
    width: 50%;
    flex-direction: column;
    display: flex; font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
    gap: 30px;
}

/*people end*/


/*employee someone start*/
.employee {
    width: 100%;
    height: 400px;
    background-color: #E6E1DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 50px;
    gap: 50px;

}

/*icon employee*/
#employee {
    transition: 0.5s;
    cursor: pointer;
}

#employee:hover {
    width: 210px;
    height: 210px;
    transition: 0.5s;
    cursor: pointer;
}

/* about oppurtunities start*/
.jobcontainer {
    text-align: left;
    display: none;
    opacity: 0;
    transform: translateX(-100%);
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
    animation: slideIn 1s forwards;
}

p {
     font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
    font-size: 11pt;
}

/* about oppurtunities end*/


@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*employee someone end*/

/* about oppurtunities */
/* start responsive for devices smaller than 576px */
@media (max-width: 576px) {

    /*person one*/
    #person-one {
        flex-direction: column;
        height: 580px;
        padding: 20px;
        width: 100%;
    }

    .picture-person-one {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introd-person-one {
        width: 100%;
        gap: 15px;
    }

    #boy-one {
        width: 100%;
        max-width: 140px;
        border-radius: 20px;
        height: auto;
    }

    #girl-two {
        width: 100%;
        max-width: 120px;
        border-radius: 20px;
        height: auto;
    }

    .number-person {
        font-size: 1.2em;
    }

    .introd-person-one b,
    .introd-person-one p,
    .introd-person-one strong {
        text-align: center;
    }

    /*person two*/
    #person-two {
        flex-direction: column;
        height: 580px;
        padding: 20px;
        width: 100%;
    }

    .picture-person-two {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introd-person-two {
        width: 100%;
        gap: 15px;
    }

    .number-person {
        font-size: 1.2em;
    }

    .introd-person-two b,
    .introd-person-two p,
    .introd-person-two strong {
        text-align: center;
    }

    .employee {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        height: auto;
    }

    #employee {
        width: 150px;
        height: 150px;
    }

    #employee:hover {
        width: 160px;
        height: 160px;
    }

    .jobcontainer {
        font-size: 8pt;
        text-align: center;
    }

    #group-people {
        border-radius: 20px;
        width: 300px;
        height: auto;
    }
    #brand {
        width: 80px;
        height: auto;
        margin-top: 21px;
    }
}

/* end responsive for devices smaller than 576px */
/* start responsive for devices greather than 577px and smaller than 768px */
@media (min-width: 577px) and (max-width: 768px) {

    #person-one,
    #person-two {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .picture-person-one,
    .picture-person-two {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .introd-person-one,
    .introd-person-two {
        width: 100%;
        text-align: center;
    }

    #boy-one,
    #girl-two {
        width: 200px;
        /* تغییر عرض به 200 پیکسل */
        height: 300px;
        /* تغییر ارتفاع به 200 پیکسل */
        border-radius: 20px;
    }

    .number-person {
        font-size: 15pt;
    }

    .introd-person-one b,
    .introd-person-two b {
        font-size: 16pt;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .introd-person-one p,
    .introd-person-two p,
    .introd-person-one strong,
    .introd-person-two stron {
        font-size: 15pt;
    }

    #group-people {
        border-radius: 20px;
        box-shadow: 1px 2px 15px 1px black;
        width: 600px;
        height: auto;
    }

    #employee {
        width: 200px;
        /* تغییر عرض به 200 پیکسل */
        height: 200px;
        /* تغییر ارتفاع به 200 پیکسل */
    }

    #employee:hover {
        width: 210px;
        /* تغییر عرض به 210 پیکسل */
        height: 210px;
        /* تغییر ارتفاع به 210 پیکسل */
    }
    #brand {
        width: 80px;
        height: auto;
        margin-top: 21px;
    }
}

/* end responsive for devices greather than 577px and smaller than 768px */
/* start  responsive for devices greather than 769px and smaller than 992px */
@media (min-width: 769px) and (max-width: 992px) {
    #boy-one {
        width: 160px;
        height: 270px;
        border-radius: 15px;
    }

    #person-one {
        width: 100%;
        height: 330px;
        background-color: #B6B0A6;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        padding: 80px;
    }

    .number-person {
        color: black;
        text-align: center;
    }

    .introd-person-one {
        width: 45%;
        flex-direction: column;
        display: flex;
        gap: 25px;
    }

    #girl-two {
        width: 160px;
        height: 270px;
        border-radius: 15px;
    }

    #person-two {
        width: 100%;
        height: 330px;
        background-color: #E6E1DE;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 80px;
    }

    .introd-person-two {
        width: 45%;
        flex-direction: column;
        display: flex;
        gap: 25px;
    }

    .jobcontainer {
        text-align: left;
        display: none;
        opacity: 0;
        transform: translateX(-100%);
        animation: slideIn 1s forwards;
        font-family: Arial, Helvetica, sans-serif;
        height: 400px;
        width: 400px;

    }

    p {
        font-size: 8.75pt;
    }
    #humburger{
        margin-top: -35px;
        margin-left: 10px;
    }

    /* about oppurtunities end*/
}

#brand {
    width: 80px;
    height: auto;
    margin-top: 21px;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#employee {
    transition: 0.5s;
    cursor: pointer;
}

#employee:hover {
    width: 180px;
    height: 180px;
    transition: 0.5s;
    cursor: pointer;
}


.picture-person-two {
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.picture-person-one {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* end  responsive for devices greather than 769px and smaller than 992px */
/* start responsive for devices greather than 993px and smaller than 1200px */
@media (min-width: 993px) and (max-width: 1200px) {
    #boy-one {
        width: 180px;
        height: 290px;
        border-radius: 15px;
    }

    #person-one {
        width: 100%;
        height: 350px;
        background-color: #B6B0A6;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        padding: 80px;
    }

    .number-person {
        color: black;
        text-align: center;
    }

    .introd-person-one {
        width: 45%;
        flex-direction: column;
        display: flex;
        gap: 25px;
    }

    #girl-two {
        width: 180px;
        height: 290px;
        border-radius: 15px;
    }

    #person-two {
        width: 100%;
        height: 350px;
        background-color: #E6E1DE;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 80px;
    }

    .introd-person-two {
        width: 45%;
        flex-direction: column;
        display: flex;
        gap: 25px;
    }

    .jobcontainer {
        text-align: left;
        display: none;
        opacity: 0;
        transform: translateX(-100%);
        animation: slideIn 1s forwards;
        font-family: Arial, Helvetica, sans-serif;
        height: 380px;
        width: 400px;

    }

    p {
        font-size: 8.7pt;
    }

    /* about oppurtunities end*/


    @keyframes slideIn {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #employee {
        transition: 0.5s;
        cursor: pointer;
    }

    #employee:hover {
        width: 180px;
        height: 180px;
        transition: 0.5s;
        cursor: pointer;
    }


    .picture-person-two {
        width: 30%;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 40px;
    }

    .picture-person-one {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 40px;

    }
    #brand {
        width: 80px;
        height: auto;
        margin-top: 21px;
    }
}

/* end responsive for devices greather than 993px and smaller than 1200px */
/* start responsive for devices greather than 1201px */
@media screen and (min-width: 1201px) {
    #boy-one {
        width: 185px;
        height: 290px;
        border-radius: 15px;
    }

    #person-one {
        width: 100%;
        height: 350px;
        background-color: #B6B0A6;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        padding: 80px;
    }

    .number-person {
        color: black;
        text-align: center;
    }

    .introd-person-one {
        width: 45%;
        flex-direction: column;
        display: flex;
        gap: 25px;
    }

    #girl-two {
        width: 180px;
        height: 270px;
        border-radius: 15px;
    }

    #person-two {
        width: 100%;
        height: 350px;
        background-color: #E6E1DE;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 80px;
    }

    .introd-person-two {
        width: 45%;
        flex-direction: column;
        display: flex;
        gap: 25px;
    }

    .jobcontainer {
        text-align: left;
        display: none;
        opacity: 0;
        transform: translateX(-100%);
        animation: slideIn 1s forwards;
        font-family: Arial, Helvetica, sans-serif;
        height: 430px;
        width: 450px;

    }

    p {
        font-size: 9.75pt;
    }

    /* about oppurtunities end*/


    @keyframes slideIn {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #employee {
        transition: 0.5s;
        cursor: pointer;
    }

    .employee {
        height: 450px;
    }

    #employee:hover {
        width: 180px;
        height: 180px;
        transition: 0.5s;
        cursor: pointer;
    }


    .picture-person-two {
        width: 30%;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 40px;
    }

    .picture-person-one {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 40px;

    }
    #brand {
        width: 80px;
        height: auto;
        margin-top: 21px;
    }
    #brand {
        width: 80px;
        height: auto;
        margin-top: 10px;
        margin-left:2px;
    }
    #humburger {
        height: auto;
        margin-top: -35px;
        margin-left:7px;
    }

}

/* end responsive for devices greather than 1201px */