body {
    font-family: 'Saira Condensed', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #E6E1DE !important;
}

strong {
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 2px;
}

/* black border */
.border-site {
    width: 1200px;
    height: 600px;
    border: 4px solid #121212;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* that section has a gif and button */
.start-enter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* gif */
#gifstart {
    width: 300px;
    height: 300px;
    margin: 20px;
}

/* button enter division */
.button-enter {
    width: inherit;
    height: 100px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}



/* button enter  */
#persian {
    border: none;
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
    font-size: 17pt;
    transition: 0.5s;
    position: relative;
    animation: moveButtons 3s;
    margin-top: 50px;
    background-color: #E6E1DE !important;
}

/* animation move button start */
@keyframes moveButtons {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 35px;

    }

    75% {
        left: 0px;
        top: 35px;

    }

    100% {
        left: 0px;
        top: 0px;
    }
}

#english {
    border: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 17pt;
    font-weight: 500;
    transition: 0.5s;
    position: relative;
    animation: moveButton 3s;
    margin-top: 50px;
    letter-spacing: 6px;
    background-color: #E6E1DE !important;
}

/* animation move button start */
@keyframes moveButton {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 35px;
        letter-spacing: 12px;

    }

    75% {
        left: 0px;
        top: 35px;
        letter-spacing: 4px;

    }

    100% {
        left: 0px;
        top: 0px;
    }
}

#english:hover {
    border: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 17pt;
    font-weight: 500;
    letter-spacing: 4px;
    transition: 0.5s;
}

#persian:hover {
    border: none;
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight:400;
    font-size: 17pt;
    transition: 0.5s;
}

/* start responsive for devices smaller than 576px */
@media screen and (max-width:576px) {

    /* black border */
    .border-site {
        width: 100%;
        min-height: 100vh;
        border: 4px solid #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 150px;
    }

    #gifstart {
        width: 200px;
        height: 200px;
    }

    .start-enter-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -100px;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    body {
        font-family: 'Saira Condensed', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

    }

    /* button enter division */
    .button-enter {
        width: inherit;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* button enter  */
    #enter {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 13pt;
        font-weight: 500;
        letter-spacing: 8px;
        transition: 0.5s;
        position: relative;
        animation: moveButton 3s;
        margin-top: -10px;
    }

    /* animation move button start */
    @keyframes moveButton {
        0% {
            left: 0px;
            top: 0px;
        }

        25% {
            left: 0px;
            top: 0px;
        }

        50% {
            left: 0px;
            top: 20px;
            letter-spacing: 12px;

        }

        75% {
            left: 0px;
            top: 20px;
            letter-spacing: 4px;

        }

        100% {
            left: 0px;
            top: 0px;
        }
    }

    #enter:hover {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 17pt;
        font-weight: 500;
        letter-spacing: 4px;
        transition: 0.5s;
    }
}

/* End  responsive for devices smaller than 576px */
/* start responsive for devices greather than 577px and smaller than 768px */
@media screen and (min-width:577px) and (max-width:768px) {
    .border-site {
        width: 550px;
        height: 600px;
        border: 4px solid #121212;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #gifstart {
        width: 350px;
        height: 350px;
    }

    .start-enter-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -100px;
    }

    body {
        font-family: 'Saira Condensed', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    /* button enter division */
    .button-enter {
        width: inherit;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* button enter  */
    #enter {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 17pt;
        font-weight: 600;
        letter-spacing: 8px;
        transition: 0.5s;
        position: relative;
        animation: moveButton 3s;
        margin-top: 20px;
    }

    /* animation move button start */
    @keyframes moveButton {
        0% {
            left: 0px;
            top: 0px;
        }

        25% {
            left: 0px;
            top: 0px;
        }

        50% {
            left: 0px;
            top: 30px;
            letter-spacing: 12px;

        }

        75% {
            left: 0px;
            top: 30px;
            letter-spacing: 4px;

        }

        100% {
            left: 0px;
            top: 0px;
        }
    }

    #enter:hover {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 17pt;
        font-weight: 500;
        letter-spacing: 4px;
        transition: 0.5s;
    }
}

/* End  responsive for devices greather than 577px and smaller than 768px */
/* start  responsive for devices greather than 769px and smaller than 992px */
@media screen and (min-width:769px) and (max-width:992px) {

    #gifstart {
        width: 500px;
        height: 300px;
    }

    .start-enter-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -100px;
    }

    .border-site {
        width: 550px;
        height: 650px;
        border: 4px solid #121212;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    body {
        font-family: 'Saira Condensed', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
    }

    /* button enter division */
    .button-enter {
        width: inherit;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* button enter  */
    #enter {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 22pt;
        font-weight: 500;
        letter-spacing: 8px;
        transition: 0.5s;
        position: relative;
        animation: moveButton 3s;
        margin-top: 70px;
    }

    /* animation move button start */
    @keyframes moveButton {
        0% {
            left: 0px;
            top: 0px;
        }

        25% {
            left: 0px;
            top: 0px;
        }

        50% {
            left: 0px;
            top: 60px;
            letter-spacing: 12px;

        }

        75% {
            left: 0px;
            top: 60px;
            letter-spacing: 4px;

        }

        100% {
            left: 0px;
            top: 0px;
        }
    }

    #enter:hover {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 17pt;
        font-weight: 500;
        letter-spacing: 4px;
        transition: 0.5s;
    }
}

/* end responsive for devices greather than 769px and smaller than 992px */
/* start responsive for devices greather than 993px and smaller than 1200px */
@media screen and (min-width:993px) and (max-width:1200px) {
    .border-site {
        width: 550px;
        height: 550px;
        border: 4px solid #121212;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #gifstart {
        width: 350px;
        height: 350px;
    }

    .start-enter-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    body {
        font-family: 'Saira Condensed', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin: 200px;
        padding: 300px;
    }

    /* button enter division */
    .button-enter {
        width: inherit;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* button enter  */
    #enter {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 22pt;
        font-weight: 500;
        letter-spacing: 8px;
        transition: 0.5s;
        position: relative;
        animation: moveButton 3s;
        margin-top: 20px;
    }

    /* animation move button start */
    @keyframes moveButton {
        0% {
            left: 0px;
            top: 0px;
        }

        25% {
            left: 0px;
            top: 0px;
        }

        50% {
            left: 0px;
            top: 30px;
            letter-spacing: 12px;

        }

        75% {
            left: 0px;
            top: 30px;
            letter-spacing: 4px;

        }

        100% {
            left: 0px;
            top: 0px;
        }
    }

    #enter:hover {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 17pt;
        font-weight: 500;
        letter-spacing: 4px;
        transition: 0.5s;
    }
}

/* end        responsive for devices greather than 993px and smaller than 1200px */