{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>منو</title>
    <!--link css style-->
    <link rel="stylesheet" href="{% static 'css/menu-persian.css' %}">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--icon tab website-->
    <link rel="icon" href="{% static 'img/logo and logo motion/1.png' %}" type="image/x-icon">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <!--start header and logoo-->
    <header>
        <div class="logo-brand">
            <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">ArchiTech</h2>

        </div>
    </header>
    <!--end header and logo-->
    <!--start 3D animation-->
    <section class="sct-video">
        <div class="picture-video">
            <img id="threeD" src="{% static 'img/logo and logo motion/gifff.gif' %}" alt="">
        </div>
    </section>
    <!--end 3D animation-->

    <section class="sct-choose-item">
        <!--start menu-->
        <div class="choose-item">
            <a class="btn1" href="{% url 'website:about-persian' %}">درباره ما</a>
            <a class="btn2" href="{% url 'projects:all-persian' %}">پروژه ها</a>
            <a class="btn3" href="{% url 'blog:blog-persian' %}">اخبار</a> <!-- Add href="#" or the link you want -->
            <a class="btn4" href="{% url 'website:contact-persian' %}">ارتباط با ما</a>
            <a class="btn5" href="#">آموزش</a><!-- Add href="#" or the link you want -->
        </div>
        <!--end menu-->
    </section>
</body>

</html>