{% load static %}
{% load jformat %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جزئیات پروژه</title>
    <!--link css style-->
    <link rel="stylesheet" href="{% static 'css/one-item-persian.css' %}">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--icon tab website-->
    <link rel="icon" href="{% static 'img/logo/blueprint.png' %}" type="image/x-icon">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">

</head>

<body class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--border start-->
    <div class="border-site col-11 col-6 col-4 col-3 col-2">
        <div class="header-logo-and-menu">
            <!--header start-->
            <header>
                <!--icon humburger start-->
                <div class="humburgermenu">
                    <a href="{% url 'website:menu-persian' %}"><svg id="humburger" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="30" height="30" viewBox="0 0 48 48">
                            <path
                                d="M 23.951172 4 A 1.50015 1.50015 0 0 0 23.072266 4.3222656 L 8.859375 15.519531 C 7.0554772 16.941163 6 19.113506 6 21.410156 L 6 40.5 C 6 41.863594 7.1364058 43 8.5 43 L 18.5 43 C 19.863594 43 21 41.863594 21 40.5 L 21 30.5 C 21 30.204955 21.204955 30 21.5 30 L 26.5 30 C 26.795045 30 27 30.204955 27 30.5 L 27 40.5 C 27 41.863594 28.136406 43 29.5 43 L 39.5 43 C 40.863594 43 42 41.863594 42 40.5 L 42 21.410156 C 42 19.113506 40.944523 16.941163 39.140625 15.519531 L 24.927734 4.3222656 A 1.50015 1.50015 0 0 0 23.951172 4 z M 24 7.4101562 L 37.285156 17.876953 C 38.369258 18.731322 39 20.030807 39 21.410156 L 39 40 L 30 40 L 30 30.5 C 30 28.585045 28.414955 27 26.5 27 L 21.5 27 C 19.585045 27 18 28.585045 18 30.5 L 18 40 L 9 40 L 9 21.410156 C 9 20.030807 9.6307412 18.731322 10.714844 17.876953 L 24 7.4101562 z">
                            </path>
                        </svg>
                    </a>
                </div>
                <!--icon humburger end-->
                <!--logo branding-->
                <div class="logo-brand">
                    <img id="brand" src="{% static 'img/logo and logo motion/1.png' %}" alt="">
                </div>


            </header>
            <!--header end-->

        </div>
        <!-- start carousel-->
        <div class="for-my-carousel">
            <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
                <!--pictires for carousel-->
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {%if forloop.first %}active{% endif %}">
                        <img id="piccarousel" src="{{ image.image.url }}" class="d-block w-100"
                            alt="image {{ forloop.counter }}">
                    </div>
                    {% endfor %}
                </div>
                <!--start button next and previous-->
                <button class="carousel-control-prev text-black" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon text-bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon text-bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <!--end button next and previous-->

            </div>
        </div>
        <!-- end carousel-->
        <div class="for-icon-vr">
            {% if project1.VR_html %}
            <a class="vr-link fs-4 text-center" href="{{project1.VR_html.url}}">همین حالا وارد تور مجازی شوید</a>
            {% else %}
            <p>این پروژه تور مجازی ندارد</p>
            {% endif %}
        </div>

        <!-- start first line for details about year ...-->
        <div class="col-12 row1 mt-5">
            <h2 style="    font-family:'Noto Sans Arabic', sans-serif;
    font-weight:400;
" class="text-center">اطلاعات پروژه</h2>
            <ul class="info1 text-center d-flex justify-content-between  pt-5 align-items-center">
                <li>نوع</li>
                <li>وضعیت</li>
                <li>سال ساخت</li>
                <li>مکان</li>
            </ul>
            <ul class="detail1 text-center d-flex  pt-5  align-items-center justify-content-between">
                <li>{{project1.type}}</li>
                <li>{{project1.status}}</li>
                <li style="direction: ltr;">{{ project1.design_year|jformat:"%Y %B %d" }}</li>
                <li>{{project1.location}}</li>
            </ul>
        </div>
        <!-- end first line for details about year ...-->
        <!-- start second line for details about project info author ...-->

        <div class="row2 col-12 ">
            <h2 style="    font-family:'Noto Sans Arabic', sans-serif;
    font-weight:400;
" class="text-center"></h2>
            <ul class="info2 text-center d-flex justify-content-between pt-5  align-items-center">
                <li>مشتری</li>
                <li>تیم</li>
                <li>معماران</li>
                <li>سازنده</li>
            </ul>
            <ul class="detail2 text-center d-flex justify-content-between pt-5  align-items-center">
                <li>{{project1.client}}</li>
                <li>{{project1.team}} </li>
                <li>{{project1.architects}}</li>
                <li>{{project1.constructor}}</li>
            </ul>
        </div>
        <!-- end second line for details about project info author ...-->
        <!-- start last line caption about project ...-->

        <div class="row3 col-12 pt-5">
            <h2 style="    font-family:'Noto Sans Arabic', sans-serif;
    font-weight:400;
" class="text-center">توضیحات</h2>

            <span class="info-about-project text-center pt-5 ">
                <strong class="text-center">{{project1.caption}}</strong>
            </span>
        </div>
        <!-- end last line caption about project ...-->

    </div> <!--other links for bootstrap start-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <!--other links for bootstrap end-->
</body>

</html>